



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
}



/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: rgba(15, 2, 194, 0.904);
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}


h2{
  font-size: 2.9vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: -15px;
  margin-left: -45px;
}
h1{
  font-size: 2.3vw;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  left:-10px;
  margin-bottom: 5px;
}

table{
  width:100%;
  table-layout: fixed;
  resize:both;
}
.tbl-header{
  width:60%;
  background-color: rgba(255,255,255,0.3);
  border: 1px;
  left: 20%;
  border-radius: 10px;
 }

.tbl-header1{
  width:101.5%;
  background-color: rgba(255,255,255,0.3);
  border: 0px;
  left:-37px;
  border-radius: 0px;
 }
 .tbl-content4{
  word-wrap:break-word;
  width: 60%;
  height:275px;
  /* overflow-x:auto; */
  margin-top: 1px;
  border-radius: 10px;
  padding:1px;
  left:20%; 
  text-transform: uppercase;
}

.tbl-content{
  width: 101.5%;
  height:432px;
  overflow-x:hidden;
  overflow-y:auto;
  margin-top: 0px;
  border-radius: 5px;
  padding:.5px;
  border: .01px solid grey;
  left:-37px;
  box-shadow: 2px 2px 0px rgba(255,255,255,0.3);
  text-transform: uppercase;
}
.map-bg{
  background-image: url(images/googlemap.png);
  background-repeat: no-repeat;
  background-position: center;
}

.tbl-dashboard{
  width: 101.5%;
  height:255px;
  overflow-x:hidden;
  overflow-y:auto;
  margin-top: 0px;
  border-radius: 5px;
  padding:.5px;
  border: .01px solid grey;
  left:-37px;
  box-shadow: 2px 2px 0px rgba(255,255,255,0.3);
  text-transform: uppercase;
}
.tbl-dashboard td{
  padding-top: 12px;
  padding-bottom: 11px;
  
  }
  .tbl-dashboard1{
    width: 100%;
    height:255px;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-top: 0px;
    border-radius: 0px;
    padding:.5px;
    left:-1.2em;
    box-shadow: 2px 2px 0px rgba(255,255,255,0.3);
    background-color:rgba(255,255,255,0.3);
    text-transform: uppercase;
  }
  .tbl-dashboard1 td{
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 15px;
    text-align: left;

    }
  .tbl-dash-header1{
      width:101%;
      height: 35px;
      background-color: rgba(255,255,255,0.3);
      border: 0px;
      left:-1.2em;
      border-radius: 0px;
      margin-top: 5px;
     }
  .tbl-dash-header1 th{
    text-align: left;
    padding-left: 15px;
  }
.tbl-que-header{
  width:60%;
  background-color: rgba(255,255,255,0.3);
  border: 1px;
  left: 0%;
  border-radius: 10px;
  top:2.5em;
 }
.tbl-que-content{
  word-wrap:break-word;
  width: 90%;
  height:560px;
  overflow-x:auto;
  margin-top: 0px;
  border-radius: 10px;
  padding:1px;
  border: .05px solid grey;
  left:0px;
  box-shadow: 4px 6px 0px rgba(255,255,255,0.3);
  text-transform: uppercase;
  top:2.5em;
}
.tbl-content3{
  word-wrap:break-word;
  width: 120%;
  height:405px;
  overflow-x:auto;
  margin-top: 1px;
  border-radius: 0px;
  box-shadow: 4px 6px 0px rgba(255,255,255,0.3);
}
.tbl-content td{
padding-top: 12px;
padding-bottom: 1px;
}

.tbl-acc-header{
  width:100%;
  background-color: rgba(255,255,255,0.3);
  border: 0px;
  left: 0%;
  border-radius: 0px;
 }
 .tbl-acc-content{
  word-wrap:break-word;
  width: 100%;
  height:200px;
  overflow-x:auto;
  margin-top: 1px;
  border-radius: 1%;
  border: .04px solid grey;
  box-shadow: 0px 0px 0px rgba(255,255,255,0.3);
}
.space{
  padding-top: 50px;
  padding-left: 130px;

}

@media screen and (max-width: 767px) {
     .space {
        width: 100%;
       margin-bottom: 15px;
  
        border: 1px solid #ddd;
      }}
.tbl-content1{
  margin-left: 130px;
  word-wrap:break-word;
  width:98.6%;
  height:400px;
  overflow-x:auto;
  margin-top: 0px;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
}

th{
  padding: 12px 8px;
  text-align: center;
  font-weight: 500;
  font-size: 1vw;
  color: #fff;
  text-transform: uppercase; 
}
td{
  padding: 2px;
  text-align: center;
  vertical-align:middle;
  font-weight: 500;
  font-size: .9vw;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


.label-success{
  background-color: rgb(3, 47, 143);
  border-radius: 0%;
  padding:4px;
  font-size: 1vw;
  color:white;
}

.label-danger{
  font-size: 14px;
  color:white;
  
}

section{
  height: 100%;
  width: 100%;

}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.row {
  margin-right: 1px;
  margin-left: 5px;
  border: #000 2px solid;

}
.row > div{
  border: #000 2px solid;

}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

  
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }}}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #e7e4e4;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}


textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
}

.wrap-login100 {
  margin-left: 5em;
  width: 400px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 40px 20px 40px;
  background: #5d52f8;
  background: -webkit-linear-gradient(top, #404cb8, #779be9);
  background: -o-linear-gradient(top, #404cb8, #779be9);
  background: -moz-linear-gradient(top, #404cb8, #779be9);
  background: linear-gradient(top, #404cb8, #779be9);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: Poppins-SemiBold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-top: 25px;
  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 0px;
  margin-top: 40px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #5d52f8;
  background: -webkit-linear-gradient(top, #779be9, #404cb8);
  background: -o-linear-gradient(top, #779be9, #404cb8);
  background: -moz-linear-gradient(top, #779be9, #404cb8);
  background: linear-gradient(top, #779be9, #404cb8);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}




.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, -25%, 0);
       -o-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: grey;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 0em;
  padding-left: 3em;
  
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
  border-radius: 20%;
}

.item {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  padding: 2em;
}

.large {
  background: rgba(255, 0, 0, 0.25);
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}
.tooltiptext{
  left: 3.5em;
  font-size: 1.5vw;
  top:2em;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.493);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}


.icon-bar {
  width: 90px;
  height: 900px;
  background-color: rgb(134, 134, 134);
  left:-48px;
  top:0px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 32.5px;
  padding-top: 40px;
  padding-bottom: 45px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  
}

.icon-bar a:hover {
  background-color: #000;
}

.icon-bar .active {
  background-color:  rgb(20, 91, 197);
}
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: tra;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	cursor: pointer;}
.close :hover {
		color: #666;
}
.footer{
  padding-top:1em;
  margin: 0px;
}

/* modal */

.open-button {
  background-color: rgb(20, 91, 197);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 5px;
  right: 20px;
  width: 150px;
}

/* ADD QUE */

/* ADMINPAGE MODAL*/

.admin-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.admin-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  top:-160px;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}
.admin-modal-content input[type=text], .admin-modal-content input[type=password]
, .admin-modal-content input[type=number], .admin-modal-content input[type=time]
, .admin-modal-content input[type=date] {
  width: 100%;
  padding: 10px;
  margin: 0px 0px -10px 0px;
  left:0px;
  border: none;
  background: #ffffffd2;
  border-radius: 5%;
	border: 1px solid gray;
  left:4px;
}
.admin-modal-content select {
  right:4px;
  width: 100%;
  padding: 10px;
  margin: 2px 5px 5px 5px;
  border: none;
  background: #f1f1f1d2;
  border-radius: 5%;
  font-size: 15px;
  text-transform: uppercase;
}
.admin-modal-content label{
  top:10px;
  right:4px;
  text-transform: uppercase;
  text-align: right; 
  text-align-last: right;
}
.admin-modal-content .btn {
  background-color: #0044ff;
  color: white;
  padding: 14px 18px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 100%;
  margin-bottom:8px;
  opacity: 0.8;
  font-size: 15px;
}
.admin-modal-content h1{
  color:black;
}

/* The Close Button */
.admin-modal-content .close {
  color: rgb(0, 0, 0);
  background-color: rgb(165, 164, 164);
  float: right;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #888;
  border-radius: 100%;
  width:40px;
  height: 40px;
  left: 450px;
  top: -20px;
}
.admin-modal-content input:hover, select:hover{
  background-color: rgba(180, 179, 179, 0.575);
}
.admin-modal-content .btn:hover{
  background-color: #2854ca;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.row1 {
  margin-right: 0px;
  margin-left: 0px;
}
.admin-modal-content .btn {
  background-color: #6d87ce;
  color: white;
  padding: 14px 18px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 80%;
  margin-top:50px;
  margin-bottom:0px;
  opacity: 0.8;
  font-size: 15px;
  
}

.menu-bar {
  border-radius: 10px;
  height: fit-content;
  display: inline-flex;
  background-image: linear-gradient(left, #07229e, #bfd1f1);
  background-image: linear-gradient(to right,#07229e,  #bfd1f1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  align-items: center;
  padding: 0% 0%;
  margin: 20px 0 0 0;
  width:104%;
  height: 50px;
  left:-5%;
}
.menu-bar-dash {
  border-radius: 10px;
  height: fit-content;
  display: inline-flex;
  background-image: linear-gradient(left, #2546d8, #bfd1f1);
  background-image: linear-gradient(to right,#2546d8,  #bfd1f1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  align-items: center;
  padding: 0% 0%;
  margin: 10px 0 0 0;
  width:100%;
  height: 50px;
  left:-2%;
}
.menu-bar li {
    left: 2%;
    list-style: none;
    color: rgb(4, 7, 151);
    font-size: 20px;
    font-family: sans-serif;
    padding: 2px 6px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align-last: right;
  }
  .menu-bar-dash li {
    left: 1%;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px 6px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align-last: right;
  }
  .menu-bar h3 {
    left: 0;
    list-style: none;
    color: rgb(2, 3, 51);
    font-size: 20px;
    font-family: sans-serif;
    padding: 2px 6px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align-last: right;
  }
.menu-bar li::before {
      content: " ";
      position: absolute;
      top: 0;
      left:0;
      height:100%;
      width: 100%;
      z-index:-1;
      transition: .2s;
      border-radius: 25px;
    }
.menu-bar li:hover {
background: linear-gradient(to bottom, #e8edec, #d2d1d3);
            box-shadow: 0px 3px 20px 0px black;
            transform: scale(1.2);
            color: black;}
.menu-bar li::before {
          background: linear-gradient(to bottom, #e8edec, #d2d1d3);
            box-shadow: 0px 3px 20px 0px black;
            transform: scale(1.2);
        }

        /* dashboard */
.menu-bar1 {
  border-radius: 0px;
  height: fit-content;
  display: inline-flex; 
  align-items: center;
  padding: 0% 0%;
  margin: 20px 0 0 0;
  width:100%;
  height: 40px;
  left:-5%;
  top:10em;

}
.menu-bar1 ul{
  background-color:rgba(161, 31, 31, 0.3);
  width:102%; 
}
.menu-bar-dash {
  border-radius: 0px;
  height: fit-content;
  display: none;
  align-items: center;
  padding: 0% 0%;
  margin: 10px 0 0 0;
  width:100%;
  height: 50px;
  left:-2%;
}
.menu-bar1 li {
    left: 3%;
    list-style: none;
    color: rgb(7, 7, 14);
    font-size: 1 vw;
    font-family: sans-serif;
    padding: .5px 1px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align-last: left;
    top:44em;
  }
  .menu-bar-dash li {
    left: 1%;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px 6px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align-last: right;
  }
  .menu-bar1 h3 {
    left: 0;
    list-style: none;
    color: rgb(2, 3, 51);
    font-size: 20px;
    font-family: sans-serif;
    padding: 2px 6px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-align-last: right;
  }
.menu-bar1 li::before {
      content: " ";
      position: absolute;
      top: 0;
      left:0;
      height:100%;
      width: 100%;
      z-index:-1;
      transition: .2s;
      border-radius: 5px;
      background-color:rgba(255,255,255,0.3);
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(100px);
    }

.menu-bar1 li:hover {
            box-shadow: 0px 0px 0px 0px  #2546d8;
            transform: scale(1.2);
            }
.menu-bar1 li::before {
            box-shadow: 0px .5px 0px 0px black;
            transform: scale(1.2);
        }

/* end dashboard */

.dash-footer{
          padding-top:-250em;
          margin: 0px;
        }
.dash-footer p{
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(left, #4989f8, #021670);
  background-image: linear-gradient(to right, #4989f8, #021670);
  border-radius: 2%;
}
.dash-footer h1{
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2%;
}
.admin-footer{
  padding-top:0em;
  margin: 0px;
  left:-1.5em;
}
.admin-footer p{
font-size: 18px;
text-transform: uppercase;
text-align: center;
background-image: linear-gradient(left, #4989f8, #021670);
background-image: linear-gradient(to right, #4989f8, #021670);
border-radius: 2%;
}
.admin-footer h1{
font-size: 36px;
text-transform: uppercase;
text-align: center;
border-radius: 2%;
}
.row3 {
  margin-right: 0px;
  margin-left: 0px;
  left: -4%;
  top:1em;
}
.row3 .tbl-acc-content {
  margin-right: 0px;
  margin-left: 0px;
  left: 0%;
}
.que-form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.que-form-container {
  max-width: 500px;
  padding: 20px;
  padding-bottom:10px;
  background-color: rgba(31, 100, 204, 0.938);
  border-radius: 2%;
}
.que-form-popup label{
font-size: 16px;
color: rgba(255, 255, 255, 0.952);
text-transform: uppercase;
}

/* Full-width input fields */
.que-form-container input[type=text], .que-form-container input[type=password]
, .que-form-container input[type=number], .que-form-container input[type=time]
, .que-form-container input[type=date] {
  width: 250px;
  padding: 5px;
  margin: 2px 0 5px 0;
  border: none;
  background: #f1f1f1d2;
  border-radius: 5%;
}
.que-form-container select {
  width: 250px;
  padding: 5px;
  margin: 2px 0 5px 0;
  border: none;
  background: #f1f1f1d2;
  border-radius: 5%;
  font-size: 15px;
  text-transform: uppercase;
}
/* When the inputs get focus, do something */
.que-form-container input[type=text]:focus, .que-form-container input[type=password]:focus,
.que-form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.que-form-container .btn {
  background-color: #6d87ce;
  color: white;
  padding: 14px 18px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 100%;
  margin-bottom:8px;
  opacity: 0.8;
  font-size: 15px;
  
}

/* Add a red background color to the cancel button */
.que-form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.que-form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.que-form-container .btn:hover{
  opacity: 5;
}

.onroad:hover + .div_onroad{
  display: block;
}


.dropbtn1 {
  border-radius: 100%;
  height: fit-content;
  display: inline-flex;
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  color: white;
  padding: 0px;
  border: none;
  cursor: pointer;
  backdrop-filter: blur(10px);  
  align-items: center;
  padding: 0% 1.5%;
  margin: 0 0 0 0;
  width: 3em;
  height: 3em;
  left: -4em;
  top:1em;
  font-family: sans-serif;

}
        
.dropdown-content1 {
  border-radius: 10%;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    font-family: sans-serif;
    padding: 0px 0px;
    margin: 0px 0px;
    white-space: nowrap;
    left:0%;
    font-size: 12px;
  }
           
.dropdown-content1 a {
  border-radius: 10%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}
.dropdown-content1 a:hover {background-color: #f1f1f1}
.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: #3e8e41;
}
.dropdown1 ::before .dropbtn1{
  content: " ";
  position: absolute;
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  z-index:-1;
  transition: .2s;
  border-radius: 25px;
} 

.dropdown1:hover .dropbtn1{
background-color: rgba(255,255,255,0.3);
              box-shadow: 0px 3px 20px 0px black;
              transform: scale(1.2);
              color: black;
} 

.dropdown1::before .dropbtn1{
background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

.icon{
position:right;
top:1px;
display:inline-block;
font-family:'Glyphicons Halflings';
font-style:normal;
font-weight:400;
line-height:1;
padding-right:10px;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.search{
  width: 150px;
  left:-200px

}







/* 

.container1 {
  min-height: 100vh;
  display: flex;
  justify-content: bottom;
  align-items: center;
  scroll-behavior: smooth;
  background: none;
  font-family:'Helvetica Neue', sans-serif;
}

h1 a {
font-size: 80px;
color: #BF2E97;
text-decoration: none;
text-transform: uppercase;
}

.popover {
 display: none;
 box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
 
}

.popover:target {
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.6;
}

.popover .content {
display: flex;
align-items: center;
justify-content: center;

width: 0;
height: 0;
color: #fff;
font-weight: bolder;
background-color: #191919;
animation: 1s grow ease forwards;
text-align: center;
}

.nav_list  {
list-style-type: none;
}

.nav_list a {
text-decoration: none;
font-size: 50px;
color: #fff;
}

.nav_list_item {
height: 100%;
overflow: hidden;
}

.nav_list li {
padding: 15px 0;
text-transform: uppercase;
transform: translateY(200px);
opacity: 0;
animation: 2s slideUp ease forwards .5s;
position: relative;
}

.nav_list li::before {
content: '';
position: absolute;
height: 2px;
width: 0px;
left: 0;
bottom: 10px;
background: #BF2E97; 
transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
padding: 50px;
opacity: 0;
animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
right: 0;
top: 0;
width: 50px;
height: 50px;
position: absolute;
display: flex;
z-index: 1;
font-size: 30px;
align-items: center;
justify-content: center;
background-color: #BF2E97;
color: #fff;
content: "×";
cursor: pointer;
opacity: 0; 
animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
100% {
  height: 90%;
  width: 90%;
}
}

@keyframes fadeIn {
100% {
opacity: 1;
}
}

@keyframes slideUp {
100% {
  transform: translateY(0);
  opacity: 1;
}
} */